/* ========================================================================
 * Let's Go!
 * ======================================================================== */


/*Styling UL*/

.orbmm ul {
	list-style: none;
	padding-left: 0px;
}
.orbmm a:hover {
	text-decoration: none
}
.navbar.orbmm {
	border-radius: 0;
	position: absolute;
	width: 100%;
	right: 0px;
	left: 0px;
	top: 0;
	z-index: 100;
	margin-bottom: 0
}
/*Colored Examples Should be Relative Positioned */	


.example .navbar.orbmm {
	position: relative;
}
.navbar.orbmm .navbar-header .btn {
	margin: 0;
	padding: 5px 8px;
	width: 30px;
	height: 30px;
	margin-right: 7px;
	border-radius: 50px;
	margin-top: 10px;
}
.navbar.orbmm .navbar-header .right-toggler {
	font-size: 1em
}
.navbar.orbmm .dropdown-toggle {
	padding-left: 10px;
	padding-right: 10px;
}
.navbar.orbmm .dropdown-toggle i {
	font-size: .85em;
}
.navbar.orbmm .navbar-nav > li > a {
	font-weight: 400;
	text-transform: none;
	letter-spacing: -1px;
	font-size: 19px
}
.orbmm .dropdown a,
.orbmm .dropdown-menu a {
	color: #444;
}
.orbmm .dropdown-menu > li > a {
	padding: 6px 15px;
}
/*Dropdown Links*/

.navbar.orbmm .navbar-nav .dropdown-menu > li > a {
	color: #555
}
.navbar.orbmm .navbar-nav > li > .dropdown-menu {
	text-transform: none;
	background: #d8e3e6;
}
.navbar.orbmm .navbar-nav > .active > a,
.navbar.orbmm .navbar-nav > .active > a:hover,
.navbar.orbmm .navbar-nav > .active > a:focus,
.navbar.orbmm .navbar-nav > .open > a,
.navbar.orbmm .navbar-nav > .open > a:hover,
.navbar.orbmm .navbar-nav > .open > a:focus {
	color: #444;
	background-color: #d8e3e6;
}
/*Making Bootstrap Columns Padding Smaller */

.orbmm .dropdown [class*="col-sm-"],
.orbmm .dropdown [class*="col-md-"],
.orbmm .dropdown [class*="col-xs-"] {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}
/*Block Divider*/
.orbmm .block-divider {
	height: 3px;
	border-radius: 3px;
	margin: 14px -5px;
	margin-bottom: 8px;
	background: rgba(255,255,255,.4);
	display: block;
}
.orbmm .dropdown-menu {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	padding: 0;
}
.orbmm .form-control {
	margin-top: 10px;
}
.orbmm iframe,
.orbmm embed,
.orbmm object {
	max-width: 100%;
	border-radius: 4px;
}


/*Carousel*/

.navbar.orbmm .carousel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.navbar.orbmm .carousel .carousel-inner > .item .text {
	color:#fff;
	font-size:2.5em;
	letter-spacing:-2px;
	font-weight:300;
	padding-top:20%;
	text-align:center
}

.navbar.orbmm .carousel-control,
.navbar.orbmm .carousel-control:hover, 
.navbar.orbmm .carousel-control:focus {
	color:#fff}

.navbar.orbmm .carousel .carousel-indicators {
	margin-bottom: 10px;
}

.navbar.orbmm .carousel-container {
	position: relative;
	padding-bottom: 56%;
	height: 0;
	max-height: 100px;
	width:100%;
	overflow: hidden;
}
/*Style Media - Override BS Meida List Classes*/
 
.navbar.orbmm .media-object {
	width: 60px;
	text-align: center;
	height: 60px;
}
.navbar.orbmm .media-object .icon {
	background: #fff;
	height: 45px;
	width: 45px;
	margin-top: 5px;
	box-shadow: 0 0 0 5px #c0c2c7;
	line-height: 45px;
	border-radius: 50%;
	font-size: 2em;
}
.navbar.orbmm .media {
	position: relative;
	padding: 0;
	margin: 0;
	margin-top: 5px
}
.navbar.orbmm .media .label {
	font-size: .9em;
	padding: 1px 6px;
}
.navbar.orbmm .media .badge {
	position: absolute;
	background-color: #fff;
	color: #444;
	top: 5px;
	left: 5px;
}
.navbar.orbmm .desc {
	margin-top: 2px;
	margin-bottom: 3px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	color: #949FB2;
	font-size: 75%;
}
	
	
/*Animations*/

/* Buzz Out Animation to Badges On Images */
@-webkit-keyframes buzz-out {
 10% {
 -webkit-transform: translateX(3px) rotate(2deg);
 transform: translateX(3px) rotate(2deg);
}
 20% {
 -webkit-transform: translateX(-3px) rotate(-2deg);
 transform: translateX(-3px) rotate(-2deg);
}
 30% {
 -webkit-transform: translateX(3px) rotate(2deg);
 transform: translateX(3px) rotate(2deg);
}
 40% {
 -webkit-transform: translateX(-3px) rotate(-2deg);
 transform: translateX(-3px) rotate(-2deg);
}
 50% {
 -webkit-transform: translateX(2px) rotate(1deg);
 transform: translateX(2px) rotate(1deg);
}
 60% {
 -webkit-transform: translateX(-2px) rotate(-1deg);
 transform: translateX(-2px) rotate(-1deg);
}
 70% {
 -webkit-transform: translateX(2px) rotate(1deg);
 transform: translateX(2px) rotate(1deg);
}
 80% {
 -webkit-transform: translateX(-2px) rotate(-1deg);
 transform: translateX(-2px) rotate(-1deg);
}
 90% {
 -webkit-transform: translateX(1px) rotate(0);
 transform: translateX(1px) rotate(0);
}
 100% {
 -webkit-transform: translateX(-1px) rotate(0);
 transform: translateX(-1px) rotate(0);
}
}
 @keyframes buzz-out {
 10% {
 -webkit-transform: translateX(3px) rotate(2deg);
 transform: translateX(3px) rotate(2deg);
}
 20% {
 -webkit-transform: translateX(-3px) rotate(-2deg);
 transform: translateX(-3px) rotate(-2deg);
}
 30% {
 -webkit-transform: translateX(3px) rotate(2deg);
 transform: translateX(3px) rotate(2deg);
}
 40% {
 -webkit-transform: translateX(-3px) rotate(-2deg);
 transform: translateX(-3px) rotate(-2deg);
}
 50% {
 -webkit-transform: translateX(2px) rotate(1deg);
 transform: translateX(2px) rotate(1deg);
}
 60% {
 -webkit-transform: translateX(-2px) rotate(-1deg);
 transform: translateX(-2px) rotate(-1deg);
}
 70% {
 -webkit-transform: translateX(2px) rotate(1deg);
 transform: translateX(2px) rotate(1deg);
}
 80% {
 -webkit-transform: translateX(-2px) rotate(-1deg);
 transform: translateX(-2px) rotate(-1deg);
}
 90% {
 -webkit-transform: translateX(1px) rotate(0);
 transform: translateX(1px) rotate(0);
}
 100% {
 -webkit-transform: translateX(-1px) rotate(0);
 transform: translateX(-1px) rotate(0);
}
}
.buzz-out {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.navbar.orbmm .media.buzz-out:hover .badge,
.navbar.orbmm .media.buzz-out:focus .badge,
.navbar.orbmm .media.buzz-out:active .badge {
	-webkit-animation-name: buzz-out;
	animation-name: buzz-out;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}


/* Pop Animation for images */
@-webkit-keyframes pop {
 50% {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes pop {
 50% {
 -webkit-transform: scale(1.4);
 transform: scale(1.4);
}
 100% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
.pop {
	-webkit-transform: translateZ(0);
	display: block;
	transform: translateZ(0);
}
.navbar.orbmm .media.pop:hover img,
.navbar.orbmm .media.pop:focus img,
.navbar.orbmm .media.pop:active img {
	-webkit-animation-name: pop;
	animation-name: pop;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}


/* Push Effect For Icons in List */
@-webkit-keyframes push {
 50% {
 -webkit-transform: scale(0.8);
 transform: scale(0.8);
}
 100% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes push {
 50% {
 -webkit-transform: scale(0.8);
 transform: scale(0.8);
}
 100% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
.push {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.navbar.orbmm .media.push:hover .media-object .icon,
.navbar.orbmm .media.push:focus .media-object .icon,
.navbar.orbmm .media.push:active .media-object .icon {
	-webkit-animation-name: push;
	animation-name: push;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.orbmm-content.lists .row .list-box {
	border-right: 1px solid #c0c2c7
}
.orbmm-content.lists .row .list-box:last-child {
	border-right: 0
}
/*Ordered List*/

.orbmm-content.lists ol {
	margin-top: 0;
	list-style-type: none;
	counter-reset: li-counter;
}
.orbmm-content.lists ol > li {
	position: relative;
	border-bottom: 2px solid #dddddb
}
.orbmm-content.lists ol > li:before {
	position: absolute;
	top: 5px;
	left: -35px;
	font-size: 0.9em;
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	border-radius: 35px;
	color: #fff;
	font-weight: 700;
	background-color: #a7aab1;
	content: counter(li-counter);
	counter-increment: li-counter;
}
.orbmm .progress {
	height: 15px;
	margin-bottom: 5px;
	background-color: #fff;
	border-radius: 8px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.orbmm .progress-bar {
	font-size: .85em;
	line-height: 16px;
	background-color: #5bc0de;
}
/*Quicks*/

.orbmm .dropdown-menu .quicks {
	margin-top: 0;
	padding: 10px 20px;
	display: block;
	text-align: left;
	text-transform: none;
	width: 100%;
}
.orbmm .dropdown-menu .quicks ul.quick-blocks li a {
	position: relative;
	display: block;
	color: #444;
	text-align: center;
	border-radius: 3px;
	margin-bottom: 5px;
	background: rgba(255,255,255,.6);
	border: 2px solid rgba(255,255,255,.1);
	padding: 7px 10px;
}
.orbmm .dropdown-menu .quicks ul.quick-blocks li a:hover,
.orbmm .dropdown-menu .quicks ul.quick-blocks li a:focus {
	text-decoration: none;
	background: rgba(255,255,255,0.9);!important
}
.orbmm .dropdown-menu .quicks ul.quick-blocks li a .badge {
	position: absolute;
	top: 10px;
	background: #5bc0de;
	color: #fff;
	right: 5px;
}
.orbmm .dropdown-menu .quicks ul.quick-blocks li i {
	display: block;
	font-size: 3em;
}

/*Tabs*/
.orbmm .dropdown-menu .quicks .tab-pane {
	font-weight:400}



/*Submenus*/

.orbmm .dropdown-submenu {
	position: relative;
}
.orbmm .dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0;
}
.orbmm .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.orbmm .dropdown-submenu > a:after {
	position: absolute;
	right: 10px;
	font-size: 15px;
	top: 10px;
	font-family: 'FontAwesome';
	content: "\f105";
}
.orbmm .dropdown-submenu .pull-left {
	float: none;
}
.orbmm .dropdown-submenu .pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}
.orbmm p {
	font-weight: 400;
}
.orbmm .nav,
.orbmm .collapse,
.orbmm .dropup,
.orbmm .dropdown {
	position: static;
}
.orbmm .half {
	max-width: 40%;
	left: auto !important;
	right: auto !important;
}
.orbmm .dropdown-menu {
	left: auto;
}
.orbmm .nav.navbar-right .dropdown-menu {
	left: auto;
	right: 0;
}
.orbmm .orbmm-content {
	padding: 10px 20px;
}
.orbmm .title {
	margin-top: 5px;
	letter-spacing: -1px;
}
/*Content-header*/

.orbmm .content-header {
	margin-top: 0;
	margin-bottom: 15px;
	height: 22px;
	display: block;
	background: url(../images/bg-stripped-2px.png);
}
.orbmm .content-header .badge {
	position: relative;
	color: #fff;
	margin-left: 8px;
	margin-right: 5px;
	bottom: 4px;
	padding: 5px 8px;
	background: #5bc0de;
	border-radius: 2px;
	letter-spacing: 1px;
}
.orbmm .content-header .badge:after {
	content: "";
	position: absolute;
	top: 6px;
	left: -3px;
	border-style: solid;
	border-width: 3px 3px 3px 0px;
	border-color: transparent #5bc0de;
	display: block;
	width: 0px;
	z-index: 1;
}
.orbmm .content-header h2 {
	display: inline-block;
	margin: 0;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-right: 10px;
	position: relative;
	padding: 2px;
	background: #d8e3e6;
}
.orbmm .dropdown.orbmm-fw .dropdown-menu {
	left: 0;
	right: 0;
}
/* ========================================================================
 * Color Schemes
 * ======================================================================== */
 
 
/*Blue*/ 

.navbar-blue {
	background: #5bc0de;
}
.navbar-blue .navbar-nav .dropdown-menu > li > a {
	padding: 10px 15px;
}
.navbar.orbmm.navbar-blue .navbar-header .btn.btn-default {
	background: #5bc0de
}
.navbar.orbmm.navbar-blue .navbar-header .btn.btn-default:hover,
.navbar.orbmm.navbar-blue .navbar-header .btn.btn-default:focus,
.navbar.orbmm.navbar-blue .navbar-header .btn.btn-default:active {
	color: #444;
	background: #fff
}
.navbar.orbmm.navbar-blue .content-header {
	background: url(../images/bg-stripped.png);
}
.navbar.orbmm.navbar-blue .content-header h2 {
	background: #fff;
}
.navbar.orbmm.navbar-blue {
	z-index: 20;
}
.navbar.orbmm.navbar-blue .orbmm-content.lists .row .list-box {
	padding-bottom: 10px;
	border: 0;
}
.navbar.orbmm.navbar-blue .block-divider {
	background: rgba(0,0,0,.1);
}
.navbar.orbmm.navbar-blue .dropdown-menu .quicks ul.quick-blocks li a {
	background: rgba(0,0,0,.05);
	border: 2px solid rgba(0,0,0,.1);
	padding: 7px 10px;
}
.navbar.orbmm.navbar-blue .dropdown-menu .quicks ul.quick-blocks li a:hover,
.navbar.orbmm.navbar-blue .dropdown-menu .quicks ul.quick-blocks li a:focus {
	background: rgba(255,255,255,0.9);
!important
}
.navbar.orbmm.navbar-blue .navbar-nav > li > .dropdown-menu {
	text-transform: none;
	background-color: #fff;
}
.navbar.orbmm.navbar-blue .navbar-nav > .open > a,
.navbar.orbmm.navbar-blue .navbar-nav > .open > a:hover,
.navbar.orbmm.navbar-blue .navbar-nav > .open > a:focus,
.navbar.orbmm.navbar-blue .navbar-nav > li > a:hover,
.navbar.orbmm.navbar-blue .navbar-nav > li > a:focus,
.navbar.orbmm.navbar-blue .navbar-nav > .active > a,
.navbar.orbmm.navbar-blue .navbar-nav > .active > a:hover,
.navbar.orbmm.navbar-blue .navbar-nav > .active > a:focus,
.navbar.orbmm.navbar-blue .navbar-nav > .disabled > a,
.navbar.orbmm.navbar-blue .navbar-nav > .disabled > a:hover,
.navbar.orbmm.navbar-blue .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: #fff;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
	border-color: #fff;
}
.navbar.orbmm.navbar-blue .navbar-brand i,
.navbar.orbmm.navbar-blue a,
.navbar.orbmm.navbar-blue .navbar-brand:hover,
.navbar.orbmm.navbar-blue .navbar-brand:focus {
	color: #fff;
}
.navbar-blue .navbar-link,
.navbar-blue .navbar-brand,
.navbar-blue .navbar-text,
.navbar-blue .navbar-nav > li > a {
	color: #eeeeee;
}
.navbar-blue .navbar-toggle {
	border-color: #fff;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
	background-color: #5bc0de;
}
.navbar-blue .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar.orbmm.navbar-blue .progress {
	background-color: #d8e3e6;
}
.navbar.orbmm.navbar-blue .media-object .icon {
	background: #969fa1;
	box-shadow: 0 0 0 5px #d8e3e6;
}
/*green*/ 

.navbar-green {
	background: #82b964;
}
.navbar-green .navbar-nav .dropdown-menu > li > a {
	padding: 10px 15px;
}
.navbar.orbmm.navbar-green .navbar-header .btn.btn-default {
	background: #82b964
}
.navbar.orbmm.navbar-green .navbar-header .btn.btn-default:hover,
.navbar.orbmm.navbar-green .navbar-header .btn.btn-default:focus,
.navbar.orbmm.navbar-green .navbar-header .btn.btn-default:active {
	color: #444;
	background: #fff
}
.navbar.orbmm.navbar-green .content-header {
	background: url(/images/bg-stripped.png);
}
.navbar.orbmm.navbar-green .content-header h2 {
	background: #fff;
}
.navbar.orbmm.navbar-green {
	z-index: 19;
}
.navbar.orbmm.navbar-green .orbmm-content.lists .row .list-box {
	padding-bottom: 10px;
	border: 0;
}
.navbar.orbmm.navbar-green .block-divider {
	background: rgba(0,0,0,.1);
}
.navbar.orbmm.navbar-green .dropdown-menu .quicks ul.quick-blocks li a {
	background: rgba(0,0,0,.05);
	border: 2px solid rgba(0,0,0,.1);
	padding: 7px 10px;
}
.navbar.orbmm.navbar-green .dropdown-menu .quicks ul.quick-blocks li a:hover,
.navbar.orbmm.navbar-green .dropdown-menu .quicks ul.quick-blocks li a:focus {
	background: rgba(255,255,255,0.9);
!important
}
.navbar.orbmm.navbar-green .navbar-nav > li > .dropdown-menu {
	text-transform: none;
	background-color: #fff;
}
.navbar.orbmm.navbar-green .navbar-nav > .open > a,
.navbar.orbmm.navbar-green .navbar-nav > .open > a:hover,
.navbar.orbmm.navbar-green .navbar-nav > .open > a:focus,
.navbar.orbmm.navbar-green .navbar-nav > li > a:hover,
.navbar.orbmm.navbar-green .navbar-nav > li > a:focus,
.navbar.orbmm.navbar-green .navbar-nav > .active > a,
.navbar.orbmm.navbar-green .navbar-nav > .active > a:hover,
.navbar.orbmm.navbar-green .navbar-nav > .active > a:focus,
.navbar.orbmm.navbar-green .navbar-nav > .disabled > a,
.navbar.orbmm.navbar-green .navbar-nav > .disabled > a:hover,
.navbar.orbmm.navbar-green .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: #fff;
}
.navbar-green .navbar-collapse,
.navbar-green .navbar-form {
	border-color: #fff;
}
.navbar.orbmm.navbar-green .navbar-brand i,
.navbar.orbmm.navbar-green a,
.navbar.orbmm.navbar-green .navbar-brand:hover,
.navbar.orbmm.navbar-green .navbar-brand:focus {
	color: #fff;
}
.navbar-green .navbar-link,
.navbar-green .navbar-brand,
.navbar-green .navbar-text,
.navbar-green .navbar-nav > li > a {
	color: #eeeeee;
}
.navbar-green .navbar-toggle {
	border-color: #fff;
}
.navbar-green .navbar-toggle:hover,
.navbar-green .navbar-toggle:focus {
	background-color: #82b964;
}
.navbar-green .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar.orbmm.navbar-green .progress {
	background-color: #d8e3e6;
}
.navbar.orbmm.navbar-green .media-object .icon {
	background: #969fa1;
	box-shadow: 0 0 0 5px #d8e3e6;
}
/*purple*/ 

.navbar-purple {
	background: #55425e;
}
.navbar-purple .navbar-nav .dropdown-menu > li > a {
	padding: 10px 15px;
}
.navbar.orbmm.navbar-purple .navbar-header .btn.btn-default {
	background: #55425e
}
.navbar.orbmm.navbar-purple .navbar-header .btn.btn-default:hover,
.navbar.orbmm.navbar-purple .navbar-header .btn.btn-default:focus,
.navbar.orbmm.navbar-purple .navbar-header .btn.btn-default:active {
	color: #444;
	background: #fff
}
.navbar.orbmm.navbar-purple .content-header {
	background: url(/images/bg-stripped.png);
}
.navbar.orbmm.navbar-purple .content-header h2 {
	background: #fff;
}
.navbar.orbmm.navbar-purple {
	z-index: 18;
}
.navbar.orbmm.navbar-purple .orbmm-content.lists .row .list-box {
	padding-bottom: 10px;
	border: 0;
}
.navbar.orbmm.navbar-purple .block-divider {
	background: rgba(0,0,0,.1);
}
.navbar.orbmm.navbar-purple .dropdown-menu .quicks ul.quick-blocks li a {
	background: rgba(0,0,0,.05);
	border: 2px solid rgba(0,0,0,.1);
	padding: 7px 10px;
}
.navbar.orbmm.navbar-purple .dropdown-menu .quicks ul.quick-blocks li a:hover,
.navbar.orbmm.navbar-purple .dropdown-menu .quicks ul.quick-blocks li a:focus {
	background: rgba(255,255,255,0.9);
!important
}
.navbar.orbmm.navbar-purple .navbar-nav > li > .dropdown-menu {
	text-transform: none;
	background-color: #fff;
}
.navbar.orbmm.navbar-purple .navbar-nav > .open > a,
.navbar.orbmm.navbar-purple .navbar-nav > .open > a:hover,
.navbar.orbmm.navbar-purple .navbar-nav > .open > a:focus,
.navbar.orbmm.navbar-purple .navbar-nav > li > a:hover,
.navbar.orbmm.navbar-purple .navbar-nav > li > a:focus,
.navbar.orbmm.navbar-purple .navbar-nav > .active > a,
.navbar.orbmm.navbar-purple .navbar-nav > .active > a:hover,
.navbar.orbmm.navbar-purple .navbar-nav > .active > a:focus,
.navbar.orbmm.navbar-purple .navbar-nav > .disabled > a,
.navbar.orbmm.navbar-purple .navbar-nav > .disabled > a:hover,
.navbar.orbmm.navbar-purple .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: #fff;
}
.navbar-purple .navbar-collapse,
.navbar-purple .navbar-form {
	border-color: #fff;
}
.navbar.orbmm.navbar-purple .navbar-brand i,
.navbar.orbmm.navbar-purple a,
.navbar.orbmm.navbar-purple .navbar-brand:hover,
.navbar.orbmm.navbar-purple .navbar-brand:focus {
	color: #fff;
}
.navbar-purple .navbar-link,
.navbar-purple .navbar-brand,
.navbar-purple .navbar-text,
.navbar-purple .navbar-nav > li > a {
	color: #eeeeee;
}
.navbar-purple .navbar-toggle {
	border-color: #fff;
}
.navbar-purple .navbar-toggle:hover,
.navbar-purple .navbar-toggle:focus {
	background-color: #55425e;
}
.navbar-purple .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar.orbmm.navbar-purple .progress {
	background-color: #d8e3e6;
}
.navbar.orbmm.navbar-purple .media-object .icon {
	background: #969fa1;
	box-shadow: 0 0 0 5px #d8e3e6;
}
/*khaki*/ 

.navbar-khaki {
	background: #9c8c40;
}
.navbar-khaki .navbar-nav .dropdown-menu > li > a {
	padding: 10px 15px;
}
.navbar.orbmm.navbar-khaki .navbar-header .btn.btn-default {
	background: #9c8c40
}
.navbar.orbmm.navbar-khaki .navbar-header .btn.btn-default:hover,
.navbar.orbmm.navbar-khaki .navbar-header .btn.btn-default:focus,
.navbar.orbmm.navbar-khaki .navbar-header .btn.btn-default:active {
	color: #444;
	background: #fff
}
.navbar.orbmm.navbar-khaki .content-header {
	background: url(/images/bg-stripped.png);
}
.navbar.orbmm.navbar-khaki .content-header h2 {
	background: #fff;
}
.navbar.orbmm.navbar-khaki {
	z-index: 17;
}
.navbar.orbmm.navbar-khaki .orbmm-content.lists .row .list-box {
	padding-bottom: 10px;
	border: 0;
}
.navbar.orbmm.navbar-khaki .block-divider {
	background: rgba(0,0,0,.1);
}
.navbar.orbmm.navbar-khaki .dropdown-menu .quicks ul.quick-blocks li a {
	background: rgba(0,0,0,.05);
	border: 2px solid rgba(0,0,0,.1);
	padding: 7px 10px;
}
.navbar.orbmm.navbar-khaki .dropdown-menu .quicks ul.quick-blocks li a:hover,
.navbar.orbmm.navbar-khaki .dropdown-menu .quicks ul.quick-blocks li a:focus {
	background: rgba(255,255,255,0.9);
!important
}
.navbar.orbmm.navbar-khaki .navbar-nav > li > .dropdown-menu {
	text-transform: none;
	background-color: #fff;
}
.navbar.orbmm.navbar-khaki .navbar-nav > .open > a,
.navbar.orbmm.navbar-khaki .navbar-nav > .open > a:hover,
.navbar.orbmm.navbar-khaki .navbar-nav > .open > a:focus,
.navbar.orbmm.navbar-khaki .navbar-nav > li > a:hover,
.navbar.orbmm.navbar-khaki .navbar-nav > li > a:focus,
.navbar.orbmm.navbar-khaki .navbar-nav > .active > a,
.navbar.orbmm.navbar-khaki .navbar-nav > .active > a:hover,
.navbar.orbmm.navbar-khaki .navbar-nav > .active > a:focus,
.navbar.orbmm.navbar-khaki .navbar-nav > .disabled > a,
.navbar.orbmm.navbar-khaki .navbar-nav > .disabled > a:hover,
.navbar.orbmm.navbar-khaki .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: #fff;
}
.navbar-khaki .navbar-collapse,
.navbar-khaki .navbar-form {
	border-color: #fff;
}
.navbar.orbmm.navbar-khaki .navbar-brand i,
.navbar.orbmm.navbar-khaki a,
.navbar.orbmm.navbar-khaki .navbar-brand:hover,
.navbar.orbmm.navbar-khaki .navbar-brand:focus {
	color: #fff;
}
.navbar-khaki .navbar-link,
.navbar-khaki .navbar-brand,
.navbar-khaki .navbar-text,
.navbar-khaki .navbar-nav > li > a {
	color: #eeeeee;
}
.navbar-khaki .navbar-toggle {
	border-color: #fff;
}
.navbar-khaki .navbar-toggle:hover,
.navbar-khaki .navbar-toggle:focus {
	background-color: #9c8c40;
}
.navbar-khaki .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar.orbmm.navbar-khaki .progress {
	background-color: #d8e3e6;
}
.navbar.orbmm.navbar-khaki .media-object .icon {
	background: #969fa1;
	box-shadow: 0 0 0 5px #d8e3e6;
}
/*pink*/ 

.navbar-pink {
	background: #f87aa0;
}
.navbar-pink .navbar-nav .dropdown-menu > li > a {
	padding: 10px 15px;
}
.navbar.orbmm.navbar-pink .navbar-header .btn.btn-default {
	background: #f87aa0
}
.navbar.orbmm.navbar-pink .navbar-header .btn.btn-default:hover,
.navbar.orbmm.navbar-pink .navbar-header .btn.btn-default:focus,
.navbar.orbmm.navbar-pink .navbar-header .btn.btn-default:active {
	color: #444;
	background: #fff
}
.navbar.orbmm.navbar-pink .content-header {
	background: url(/images/bg-stripped.png);
}
.navbar.orbmm.navbar-pink .content-header h2 {
	background: #fff;
}
.navbar.orbmm.navbar-pink {
	z-index: 16;
}
.navbar.orbmm.navbar-pink .orbmm-content.lists .row .list-box {
	padding-bottom: 10px;
	border: 0;
}
.navbar.orbmm.navbar-pink .block-divider {
	background: rgba(0,0,0,.1);
}
.navbar.orbmm.navbar-pink .dropdown-menu .quicks ul.quick-blocks li a {
	background: rgba(0,0,0,.05);
	border: 2px solid rgba(0,0,0,.1);
	padding: 7px 10px;
}
.navbar.orbmm.navbar-pink .dropdown-menu .quicks ul.quick-blocks li a:hover,
.navbar.orbmm.navbar-pink .dropdown-menu .quicks ul.quick-blocks li a:focus {
	background: rgba(255,255,255,0.9);
!important
}
.navbar.orbmm.navbar-pink .navbar-nav > li > .dropdown-menu {
	text-transform: none;
	background-color: #fff;
}
.navbar.orbmm.navbar-pink .navbar-nav > .open > a,
.navbar.orbmm.navbar-pink .navbar-nav > .open > a:hover,
.navbar.orbmm.navbar-pink .navbar-nav > .open > a:focus,
.navbar.orbmm.navbar-pink .navbar-nav > li > a:hover,
.navbar.orbmm.navbar-pink .navbar-nav > li > a:focus,
.navbar.orbmm.navbar-pink .navbar-nav > .active > a,
.navbar.orbmm.navbar-pink .navbar-nav > .active > a:hover,
.navbar.orbmm.navbar-pink .navbar-nav > .active > a:focus,
.navbar.orbmm.navbar-pink .navbar-nav > .disabled > a,
.navbar.orbmm.navbar-pink .navbar-nav > .disabled > a:hover,
.navbar.orbmm.navbar-pink .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: #fff;
}
.navbar-pink .navbar-collapse,
.navbar-pink .navbar-form {
	border-color: #fff;
}
.navbar.orbmm.navbar-pink .navbar-brand i,
.navbar.orbmm.navbar-pink a,
.navbar.orbmm.navbar-pink .navbar-brand:hover,
.navbar.orbmm.navbar-pink .navbar-brand:focus {
	color: #fff;
}
.navbar-pink .navbar-link,
.navbar-pink .navbar-brand,
.navbar-pink .navbar-text,
.navbar-pink .navbar-nav > li > a {
	color: #eeeeee;
}
.navbar-pink .navbar-toggle {
	border-color: #fff;
}
.navbar-pink .navbar-toggle:hover,
.navbar-pink .navbar-toggle:focus {
	background-color: #f87aa0;
}
.navbar-pink .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar.orbmm.navbar-pink .progress {
	background-color: #d8e3e6;
}
.navbar.orbmm.navbar-pink .media-object .icon {
	background: #969fa1;
	box-shadow: 0 0 0 5px #d8e3e6;
}



/* ========================================================================
 * Media Queries
 * ======================================================================== */

@media screen and (max-width: 768px) {
/*Adding top margin for pixel perfectness at small screens*/
.orbmm .content-header {
	margin-top: 10px;
}
.orbmm .half {
	max-width: 100%;
	left: auto !important;
	right: auto !important;
}
.orbmm-content.lists .row .list-box {
	border: 0
}
.navbar.orbmm .carousel-container {
	padding-bottom: 44%;
}
}
 @media (min-width: 768px) and (max-width: 991px) {
/*Since we have 6 columns we remove border from every third element at that resolution*/	
.orbmm-content.lists .row .list-box:nth-child(3n) {
	border-right: 0;
}
}
 @media screen and (max-width: 480px) {
.orbmm-content.lists .row .list-box {
	padding-bottom: 10px;
	border: 0;
	border-bottom: 1px solid #c0c2c7
}

.navbar.orbmm .carousel .carousel-inner > .item .text {
	color:#fff;
	font-size:2em;
	letter-spacing:-2px;
	padding-top:16%;
	text-align:center
}
}
